
<html>
<head>

 </head>
<body> 
		
		<p>click <a href="/logout/">here</a> to logout.</p>
		
		<h2>Hi...{{request.user.username}}</h2>
	
{% if request.user.profile.pic %}	
<img src="{{request.user.profile.pic.url}}" width=50 height=50/>
{% endif %}

		<form action='' method='post'>{% csrf_token %}
	 {{form.as_p}}
	 <button type='submit'>Save</button>
	 
	 </form>
	 
	 
	 {% if all_share %}
	 
	 {% for i in all_share %}
	      
		  {% if i.user==request.user %}
		  
	   <h2>post shared by {{i.user.username}}</h2><br/>
	   Title:{{i.post.title}}<br/>
	   content:{{i.post.content}}<br/>
	   
	   {% endif %}
	   
	 {% endfor %}
	 {% endif %}
	 
	 <hr>
	 {% for i in posts %}
	 <h3>Posted by:{{i.created_by.username}}</h3>
	 
	 {% if i.created_by.profile.pic %}
	 <img src="{{i.created_by.profile.pic.url}}" width=50 height=50/>
	 {% endif %}
	 Title:{{i.title}}<br>
	 {{i.date|timesince}} ago<br>
	 Content:{{i.content|truncatechars:30}}<br><br>
	 {% if i.created_by == request.user %}
	 
	 <button onclick="window.location='{% url 'delete' i.id %}'">Delete Post</button>
	 {% endif %}
	 
	  <button onclick="window.location='{% url 'share' i.id %}'">Share Post</button>
	 <button onclick="window.location='{% url 'detail' i.id %}'">View Details</button>
	 <hr>
	 {% endfor %}
</body>
</html>	 




