{% load staticfiles %}

<html>
	<head>
		<title>
			IIT KANPUR 

		</title>
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
				
		</head>
		
		
<body >
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			<a class="navbar-brand" href="#"> IIT </a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Departments</a></li>
			<li><a href="#">Centres & facillities</a></li>
			<li><a href="#">Acadmics</a></li>
			<li><a href="#">Directors</a></li>
			<li><a href="#">Deans</a></li>
			<li><a href="#">Placements</a></li>
			<li><a href="#">Campus servies</a></li>
			<li><a href="#">Quick links</a></li>
			<li><a href="#">contact</a></li>

		</ul>
		</div>
	</nav>

	<div>
			<div>
					<p><h1> IIT KANPUR </h1></p>
					<p><h4>Indian Institute Of Technology , Kanpur </h4></p>
			</div>
		
		
		<img src="{% static "Diamond-Jubilee-IITK-Slider-11-12-18.jpg" %}" alt="Diamond-Jubilee-IITK-Slider-11-12-18" align="bottam" />
			
	</div>

	<div>

			<div>
					<p><h1> IIT KANPUR </h1></p>
					<p><h3>THE FIRST IIT IN THE INDIAN WORLD.</h3></p>
					<p><h6>web mail lebirary old web site.</h6></p>

			</div>
		

		<img src="{% static "Prof-Arun-K-Shukla.jpg" %}" alt="Prof-Arun-K-Shukla"  /> 

		<img src="{% static "Dr-Keerti-Choudhary-and-Prof-Surender-Baswana.jpg" %}" alt="Dr-Keerti-Choudhary-and-Prof-Surender-Baswana" <img src="{% static "Dr-Keerti-Choudhary-and-Prof-Surender-Baswana.jpg" %}" alt="Dr-Keerti-Choudhary-and-Prof-Surender-Baswana" /> 

		<img src="{% static "Prof-Abhay-Karandikar-1.jpg" %}"  alt="Prof-Abhay-Karandikar-1"  />

		<img src="{% static "Prof-Manvendra-K-Dubey-1.jpg" %}" alt="Prof-Manvendra-K-Dubey-1"/>

	</div>
	
	<div>

			<div>
					<p><h1> IIT KANPUR </h1></p>
					<p><h4>Indian Institute Of Technology , Kanpur </h4></p>
					<p><h6>pincode - 208016 iit kanpur. </h6></p>
			</div>
		
		<img src="{% static "Prof-Nitin-Saxena[1].jpg" %}" alt="Prof-Nitin-Saxena[1]"   />

		<img src="{% static "Prof-Tarun-Gupta[1].jpg" %}"  alt="Prof-Tarun-Gupta[1]"   />
	
		<img src="{% static "Prof-Upmanu-Lall[1].jpg" %}" alt="Prof-Upmanu-Lall[1]"  />
	
		<img src="{% static "women-cell-new-2911[1].jpg" %}" alt="women-cell-new-2911[1]"    />
		<button class navbar navbar-brand> Women-cell-new-2019 </button>

	</div>

		


</body>
</html>