<html>
<head>
<title>hello app</title>
</head>
<body>

<div></div>
<h1><center>List of records</center></h1>
<div style="margin-left:500px">
<table>
<h2><p>You have visited this page {{nv}}{% if nv|length == 1 %} time{% else %} times.{% endif %}</p></h2>
<!--<h3>{{request.session.get_expiry_date}}</h3>-->
<tr>
{% for i in record %}
First name:<a href="{% url 'detail' i.id i.first_name %}">{{i.first_name}}</a> <br />
Last name:{{i.last_name}}<br /><br />
</tr>
<hr style="margin-left:1px" width="150px">
</table>
{% endfor %}
</div>

<br /><br />
<a href="/contact/">contact form</a>
</body>
</html>