<!--
With the tag template tag, we are telling Django to inherit from the
blog/base.html template. Then we are filing the title and content blocks of the
base template with content.

-->

{% extends 'myapp/base.html' %}

{% block title %}My blog {% endblock %}

{% block content %}
  <h1>My blog</h1>
  
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  
  {% for post in posts %}
   <h2>
     <a href="{{ post.get_absolute_url }}" >{{post.title}}</a>
	 </h2>
	 
	 <p class="tags">
	  Tags:
	   {% for tag in post.tags.all %}
	   <a href="{% url "myapp:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
	   {% if not forloop.last %}, {% endif %}
	   {% endfor %}
	   
	   
	 <p>Published  {{post.publish}} by {{ post.author }}</p>
	 {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}

{% include "pagination.html" with page=posts %}

<!--in case of PostViewList use,page=page_obj-->
  
{% endblock %}


 
 
  