<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    
</head>
<body bgcolor="red">
<h2><strong> UNIVERSTY INFORAMTIONS 2018-2019 </strong></h2>
<br><br>
    <h3>Hello dear student your form submitted to apply UNIVERSTY form . <br>
        You get information of proff_of_university. <br>
    And get full details of proff_of_university salary address lecture fee etc.<br>
                                    <br>    Thanks for watching information.

    <br><br>
Date  04/feb/2019. </h3>

</body>
</html>